@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h2,
h3,
p {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.header {
  text-align: center;
  background: #F9F9F9;
}

@media screen and (min-width: 1000px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  .header .img-wrapper {
    height: 852px !important;
  }
  .header .header-text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header .header-text .social-links {
    width: 100% !important;
    margin: auto;
  }
}

.header .img-wrapper {
  width: 100%;
  height: 483px;
  background: url("../image/profile.png") no-repeat center center;
  background-size: cover;
}

.header .header-text {
  padding-top: 60px;
  color: #2F2F4F;
}

.header .header-text h2 {
  font-size: 48px;
  line-height: 102.5%;
  margin-bottom: 23px;
}

.header .header-text p {
  font-size: 24px;
  line-height: 28px;
}

.header .header-text .social-links {
  width: 30%;
  margin: auto;
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-text .social-links a {
  margin-right: 44px;
}

@media screen and (max-width: 1000px) {
  .header .header-text .social-links {
    padding-bottom: 51px;
  }
}

.about-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1128px) {
  .about-wrapper {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .about-wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.about-wrapper h2 {
  font-size: 3rem;
  line-height: 57px;
  color: #2F2F4F;
  text-transform: uppercase;
  margin-bottom: 54px;
}

@media screen and (max-width: 1128px) {
  .about-wrapper h2 {
    font-size: 2.2rem;
  }
}

.about-wrapper .details-wrapper {
  padding: 116px 10% 101px;
  background: #F9F9F9;
}

@media screen and (max-width: 1000px) {
  .about-wrapper .details-wrapper {
    background: #FFF;
  }
}

.about-wrapper .details-wrapper .details-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 50px;
}

.about-wrapper .details-wrapper .details-content h3,
.about-wrapper .details-wrapper .details-content p {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.about-wrapper .details-wrapper .details-content p {
  font-weight: normal;
}

.about-wrapper .about-text {
  padding: 116px 19% 101px;
}

@media screen and (max-width: 1000px) {
  .about-wrapper .about-text {
    padding: 116px 10% 101px;
    background: #F9F9F9;
  }
}

.about-wrapper .about-text p {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}

.contact-wrapper {
  width: 45%;
  margin: auto;
  padding-top: 76px;
}

@media screen and (max-width: 1200px) {
  .contact-wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .contact-wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .contact-wrapper {
    width: 80%;
  }
}

.contact-wrapper .contact-contents {
  text-align: center;
}

.contact-wrapper .contact-contents h2 {
  font-size: 3rem;
  line-height: 57px;
  color: #2F2F4F;
  text-transform: uppercase;
  margin-bottom: 54px;
  text-align: center;
}

@media screen and (max-width: 1128px) {
  .contact-wrapper .contact-contents h2 {
    font-size: 2.2rem;
  }
}

.contact-wrapper .contact-contents form label {
  text-align: left;
  font-size: 1.2rem;
  line-height: 21px;
  color: #333333;
  display: block;
  margin-bottom: 15px;
}

.contact-wrapper .contact-contents form input,
.contact-wrapper .contact-contents form textarea {
  width: 100%;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  padding: 10px;
  outline: none;
}

.contact-wrapper .contact-contents form .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 39px;
  margin-bottom: 35px;
}

.contact-wrapper .contact-contents form .row input {
  height: 40px;
}

.contact-wrapper .contact-contents form button {
  margin-top: 38px;
  background: #2F2F4F;
  padding: 10px 43px;
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
}

footer {
  padding: 13px 0;
  text-align: center;
  background: #F2F2F2;
  font-size: 1.1rem;
  line-height: 21px;
  color: #828282;
  margin-top: 65px;
}
/*# sourceMappingURL=main.css.map */